@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);


#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-0 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-5 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-5 .mbr-header .mbr-header__subtext {
  text-align: center;
}



#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-8 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-8 .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
}
#header3-n SPAN {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
#msg-box3-p .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-p .mbr-header .mbr-header__subtext {
  text-align: center;
}






#ext_menu-a .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-a .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-a .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-a .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-a .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-j .mbr-header__text {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#msg-box4-j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-j .mbr-article {
  color: #ffffff;
}
#msg-box4-j .btn {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#msg-box4-j .mbr-article P {
  font-family: 'Open Sans', sans-serif;
}
#form1-l .btn {
  font-family: 'Open Sans', sans-serif;
}


#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-c .mbr-brand__name a {
  font-family: 'Open Sans', sans-serif;
}
#msg-box3-e .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-e .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-i .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-i .mbr-header .mbr-header__subtext {
  text-align: center;
}
