<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> About the Project </h2>
       <p> This is an effort on the part of Bansal laboratory to encourage studies and comparative analyses on non-human social networks. All of the datasets provided are part of published peer-review literature. The networks span multiple taxonomic order and include interaction networks of several species of mammals, insects, birds, reptiles and fishes. It is our hope that the networks in this repository further advance the field of animal social network theory. This data repository can be used to answer multiple scientific inquiries in varying fields including the ones on social behavior, social evolution, information transfer and disease transmission.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


