<section id="contribute" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2> Contribute </h2>
       <p> If you would like to contribute a non-human social network dataset, email us with a brief description of the data, fomat of the dataset and where/how to download it. We will add the dataset to the repository and link it to the proper citation </p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>


