


<link rel="stylesheet" href="Elly_navigation.css">

<div class="container">
  <h2>Dynamic Tabs</h2>
  <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
<!-- <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle">
  <i class="fa fa-bars"></i>
</a> -->


<!-- <div id="menu-toggle" class="btn btn-dark btn-lg toggle"> -->
  <!-- <div class="fa fa-bars"> -->
<!-- <nav id="sidebar-wrapper"> -->

<ul class="nav nav-tabs"> 
   <!--  <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"> -->
    <!--   <i class="fa fa-times"></i>
    </a> -->

    <li class="active">
      <a data-toggle="tab" href="#top">Home</a>
    </li>
    <li>
      <a data-toggle="tab" href="#dataset">Network Datasets</a>
    </li>
    <li>
      <a data-toggle="tab" href="#about">About</a>
    </li>
    <li>
      <a data-toggle="tab" href="#citation">Citation</a>
    </li>
    <li>
      <a data-toggle="tab" href="#contribute">Contribute</a>
    </li>
    <li>
      <a data-toggle="tab" href="#table">Network summary</a>
    </li>
    <li>
      <a data-toggle="tab" href="#contact">Contact</a>
    </li>
  </ul>


<div class="tab-content">
  <div id="top" class="tab-pane fade in active">
    <h3>Home</h3>
    <p>Some content in Home.</p>
  </div>
  <div id="dataset" class="tab-pane fade">
    <h3>Network Datasets</h3>
    <p>Some content network datasets.</p>
  </div>
  <div id="about" class="tab-pane fade">
    <h3>About</h3>
    <p>Some content in about.</p>
  </div>
  <div id="citation" class="tab-pane fade">
    <h3>Citation</h3>
    <p>Some content in citation.</p>
  </div>
  <div id="contribute" class="tab-pane fade">
    <h3>Contribute</h3>
    <p>Some content in contribute.</p>
  </div>
  <div id="table" class="tab-pane fade">
    <h3>Network summary</h3>
    <p>Some content in table.</p>
  </div>
  <div id="contact" class="tab-pane fade">
    <h3>Content</h3>
    <p>Some content in contact.</p>
  </div>
</div>


</div>


