<link rel="stylesheet" href="modern-business.css">
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">

  <!-- <ul class="sidebar-nav">
    <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
    <li class="sidebar-brand">
      <a data-toggle="tab" href="#top" onclick = $("#menu-close").click(); >Home</a>
    </li>
    <li>
      <a data-toggle="tab" href="#dataset"  onclick = $("#menu-close").click(); >Network datasets</a>
    </li>
    <li>
      <a data-toggle="tab" href="#table" onclick = $("#menu-close").click(); >Network summary</a>
    </li>
    <li>
      <a data-toggle="tab" href="#citation" onclick = $("#menu-close").click(); >Citation</a>
    </li>
    <li>
      <a data-toggle="tab" href="#team" onclick = $("#menu-close").click(); >Our Team</a>
    </li>
    <li>
      <a data-toggle="tab" href="#contribute" onclick = $("#menu-close").click(); >Contribute</a>
    </li>
    <li>
      <a data-toggle="tab" href="#contact" onclick = $("#menu-close").click(); >Contact</a>
    </li>
  </ul> -->

</nav>



